.payment-option {
  @apply flex items-center gap-2 bg-blue-50 p-3 rounded-md cursor-pointer hover:bg-blue-100 transition;
}



.payment-section {
  @apply mb-4;
}

.form-input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  outline: none;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.form-input:focus {
  border-color: #6366f1;
  box-shadow: 0 0 0 1px #6366f1;
}

